.remap-map {
  height: 100%;
}

.remap-zoom-controls {
  position: absolute;
  padding: 20px;
  z-index: 1;
}

.remap-control {
}

.remap-viewport {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.remap-tile-grid {
  position: absolute;
  z-index: -1 !important;
}

.remap-tile-row {
  white-space: nowrap;
}

.remap-tile {
  vertical-align: middle;
  width: 256px;
  height: 256px;
  display: inline-block;
  background: transparent;
}

.remap-noselect {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
