.remap-map {
  height: 100%;
}

.remap-zoom-controls {
  position: absolute;
  padding: 20px;
  z-index: 1;
}

.remap-viewport {
  height: 100%;
  position: relative;
  overflow: hidden;
  border: 1px solid blue;
}

.remap-tile-grid {
  position: absolute;
}

.remap-tile-row {
  white-space: nowrap;
}

.remap-tile {
  vertical-align: middle;
}
