.remap-map {
  height: 100%;
}

.remap-viewport {
  height: 100%;
  position: relative;
  overflow: hidden;
  border: 1px solid blue;
}

.remap-tile-grid {
  position: relative;
}

.remap-tile-row {
  white-space: nowrap;
}

.remap-tile {
  vertical-align: middle;
}
